<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h3 class="text-center login-text">新規登録</h3>
        <%= form_with model: @user, local: true do |f| %>

          <div class="form-group">
            <%= f.label :お名前, class: 'login-text' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :メールアドレス, class: 'login-text' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
          <%= f.label :パスワード, class: 'login-text' %>
          <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
          <%= f.label :パスワード（確認）, class: 'login-text' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <!-- bcryptが暗号化、「password_digest」カラムに暗号化したデータを入れる -->
          </div>

            <%= f.submit "登 録", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
